header {
    width: 100%;
    /* background: url("../images/gratisography-waves-crashing-rocks.jpg") no-repeat; */
    height: 450px;
    /* background-size: 100% 500px; */
    position: relative;
    font-family: "方正清刻本悦宋简体";
    /* text-align: center; */
}
header::before {
    content: "";
    width: 100%;
    height: 500px;
    background: url("../images/gratisography-waves-crashing-rocks.jpg") no-repeat;
    background-size: 100% 450px;
    z-index: -1;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
}
.title {
    /* margin: 200px auto; */
    position: absolute;
    left: 317px;
    top: 170px;
    font-size: 20px;
}
.title2 {
    position:absolute;
    left: 317px;
    top: 220px;
    letter-spacing:1.5;
}
.title2 h3 {
    margin-top: 6px;
}
header > nav {
    float: right;
    margin-top: 30px;
}
header > nav  li {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 30px;
}
header > nav a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
header > nav a:hover {
    color: rgba(0, 0, 0, 1);
}
.middle {
    /* background: #000000; */
    /* height: 800px; */
    margin-top: 120px;
}
.article {
    width: 70%;
    float: left;
}
.article > .date {
    float:left;
    width: 15%;
    border-right: 1px solid #cccccc;
}
.article .dateList li {
    margin-bottom: 40px;
    height: 40px;
    /* line-height: 40px; */
    font-weight:lighter;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    font-size:14px;
    font-style: italic;
}
 .middle .m-title {
    float: left;
}
.middle .m-title li {
    
    height: 40px;
    margin-bottom: 40px;
    
    
    padding-left: 60px;
}
.middle .m-title li a {
    color: #101010;
    font-family: "italic", Helvetica, Arial, "Heiti SC", "Microsoft YaHei";
    letter-spacing: 0.5px;
    font-size:20px;
    font-weight: 300;
}
.middle .m-title li p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 10px;
    font-style: italic;
}
.sideBar {
    float:right;
    width:20%;
}
.sideBar .image {
    width: 70%;
    height: 150px;
    background: url(../images/myphoto.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    border: 2px solid rgb(101, 101, 101);
    background-position-x: 5px;
    
}